<!-- <ul>
  <li>
    <a routerLink="/">home</a>
  </li>
  <li>
    <a routerLink="/flights">flights</a>
  </li>
  <li>
    <a routerLink="/hotels">hotels</a>
  </li>
</ul> -->
<nav id="main-menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
  style="padding: 8px 130px; background: #1F2D4B !important;">
  <a class="navbar-brand" routerLink="/">Booking App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/flights">Flights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hotels">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Cars</a>
      </li>
    </ul>
  </div>
  <div class="lang-cur">


    <button style="outline:none;border: none; background: none;color: #fff;" class="manage-book" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      Manage Your Booking
    </button>


  </div>
</nav>
<div style="margin-top: 56px;width: 30%;float: right;" class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh
    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>